<h1>Listing quantities</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quantities.each do |quantity| %>
  <tr>
    <td><%= link_to 'Show', [:admin, quantity] %></td>
    <td><%= link_to 'Edit', edit_admin_quantity_path(quantity) %></td>
    <td><%= link_to 'Destroy', [:admin, quantity], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quantity', new_admin_quantity_path %>
