#search
  - @search_suggestion = SearchSuggestion.new
  %div{style: "padding: 5px;"}
    .field
      = label :term, nil
      = text_field :prefix, nil, id: 'prefix'

      -#- PlaceType.pluck(:name).each do |place_type_name|
      -#  %input{type: "checkbox", name: "placeTypes", id: "search_<%= place_type_name %>", value: "<%= place_type_name %>"}
      -#  %a{href: "#", id: "a_search_#{place_type_name}"}
      -#    = t "place_type_names.#{place_type_name}"
-#<%
-#  PlaceType.pluck(:name).each do |place_type_name|
-#%>
-#//    $('#a_search_<%= place_type_name %>').click(function() {
-#//        $('#search_<%= place_type_name %>').click();
-#//    });
-#//    $('#search_<%= place_type_name %>').click(function() {
-#//        searchMap();
-#//    });
-#<%
-#  end
-#%>
-#    </script>
-#  </div>
