<div id="speech">
  <div id="speech_handle">
    <a href="#" id="speech_close">[ x ]</a>
    Speech Recognizer
  </div>
  <div id="speech_content">
    <div id="speech-input">
      <section>
        <div class="flex hbox boxcenter">
          <div class="" style="height:300px;text-align:center">
            <div id="challenge">
            </div>
            <input id="speech-input-field" type="text" x-webkit-speech />
            <p style="display:none">Speech input is not enabled in your browser.<br>
              Try running Google Chrome with the <code>--enable-speech-input</code> flag.</p>
          </div>
        </div>
        <script>
            if (!('webkitSpeech' in document.createElement('input'))) {
                document.querySelector('#speech-input p').style.display = 'block';
            }
        </script>
      </section>
    </div>
  </div>
</div>
