<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<div id="map_canvas"></div>

<div id="map_control">
  <div id="map_control_handle" class="handle">
    <a href="#" id="map_control_center"><%= t "map_control_center" %></a>
  </div>
</div>


<%=
    render "search"
%>
<%=
    render "places/place_info"
%>
<%=
    # render "speech"
%>


</body>
</html>
