<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<div id="app_canvas" data-lat="0" data-lng="0" data-zoom="10" data-players-url="<%= players_url(format: :json) %>"></div>

<%=
    # render "speech"
%>
