<div id="player_info">
  <div id="player_info_handle" class="handle">
    <a href="#" id="player_info_display">Player Info</a>
    <a href="#" id="current_location_display">Current Location</a>
    <a href="#" id="search_area_display">Search Area</a>
    <a href="#" id="player_info_close">[ x ]</a>
  </div>

  <div id="player_info_content">
<%
   Player.column_names.each do |attribute|
%>
    <div style="padding: 5px;">
      <b><%= attribute %></b><br />
      <div id="player_info_<%= attribute %>"></div>
    </div>
<%
  end
%>
  </div>

  <div id="current_location_content">
<%
  Location.column_names.each do |attribute|
%>
    <div style="padding: 5px;">
      <b><%= attribute %></b><br />
      <div id="current_location_<%= attribute %>"></div>
    </div>
<%
  end
%>
  </div>
</div>
