= form_for [:admin, @challenge_type] do |f|
  - if @challenge_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@challenge_type.errors.count, "error")
        prohibited this challenge_type from being saved:

      %ul
        - @challenge_type.errors.full_messages.each do |msg|
          %li= msg

  .actions= f.submit
